---
layout: articlelist
title: Resources
---

<nav class="dropdown navbar">
    {% assign links = site.data.navigation %}
  
    <button class="dropbtn">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
      <i class="fa fa-caret-down fa-2x main-list-item-icon"></i>
    </button>
    <div class="dropdown-content">
      {% for link in links %}
        {% if link.url contains 'resource' %}
        {% else %}
          <a href="{{ site.url }}{{ site.baseurl }}{{link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
</nav>
<br>
<div class = "portfolio">
    {% assign sorted = site.resources | sort: 'date' | reverse %}
    {% for resource in sorted %}
    <div class = "portfolio-member">
      <a href = {{resource.url}} style = "font-size: 1.2em;">
        <img src = {{resource.image}} height = 240px width = 240px> 
        <br>
        {{ resource.title}}
      </a>
    </div>
    {% endfor %}
</div>


