<nav class="dropdown navbar">
  {% assign links = site.data.navigation %}

  <button class="dropbtn">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
    <i class="fa fa-caret-down fa-2x main-list-item-icon"></i>
  </button>
  <div class="dropdown-content">
    {% for link in links %}
      {% if link.url contains 'index.html' %}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</nav>

<p> We aim to provide a welcoming and open environment to individuals, whether seeking next steps, to discuss research, or professional information.</p>

<p>Join us on <a href="http://discord.gg/ZDghcfP">Discord</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fab fa-discord fa-lg main-list-item-icon"></span>
    <a href="http://discord.gg/ZDghcfP">Discord</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/Academic_Econ">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitch fa-lg main-list-item-icon"></span>
    <a href="https://twitch.tv/academic_econ">Twitch</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-patreon fa-lg main-list-item-icon"></span>
    <a href="https://www.patreon.com/academic_econ?fan_landing=true">Support us on Patreon</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-coffee fa-lg main-list-item-icon"></span>
    <a href="https://www.buymeacoffee.com/academic_econ">Buy me a coffee</a>
  </li>
</ul>
