<ul class="fa-ul main-list">
    <li class="main-list-item">
        <a href="http://discord.gg/ZDghcfP">
            <span class="fab fa-discord fa-2x main-list-item-icon"></span>
        </a>
    </li>
    <li class="main-list-item">
        <a href="https://twitter.com/Academic_Econ">
          <span class="fa fa-twitter fa-2x main-list-item-icon"></span>
        </a>
    </li>
    <li class="main-list-item">
      <a href="https://twitch.tv/academic_econ">
        <span class="fa fa-twitch fa-2x main-list-item-icon"></span>
    </a>
    </li>
    <li class="main-list-item">
      <a href="https://www.patreon.com/academic_econ?fan_landing=true">
        <span class="fab fa-patreon fa-2x main-list-item-icon"></span>
      </a>
    </li>
    <li class="main-list-item">
      <a href="https://www.buymeacoffee.com/academic_econ">
        <span class="fa fa-coffee fa-2x main-list-item-icon"></span>
      </a>
    </li>
</ul>
  