---
layout: articlelist
---
<nav class="dropdown navbar">
  {% assign links = site.data.navigation %}

  <button class="dropbtn">
    <a href="{{ site.url }}{{ site.baseurl }}/announcements" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
    <i class="fa fa-caret-down fa-2x main-list-item-icon"></i>
  </button>
  <div class="dropdown-content">
    {% for link in links %}
      {% if link.url contains 'resource' %}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</nav>

<h1>{{ page.title }}</h1>

<p><em>Published on {{ page.date | date: "%-d %B %Y" }} </em></h1>

{{content}}